html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.cloak {
  display: block;
}

hr {
  width: 70px;
  border-color: #7c4220;
  border-width: 2px;
  height: 2px;
}

.bannerBtn {
  border: none;
  background: #876d5a;
  color: white;
  padding:50px 50px;
}
.bannerBtn:hover {
  background: #cda581;
}

.inputInline {
  width: 49%;
  float: left;
}

.navbar-btn {
  padding-top: 13px;
  margin: 0 10px 0 0;
  color: #d1c6c6;
  font-size: 18px;
}
.navbar-btn:hover {
  color: #cda581;
}

.navbar {
  background: #876d5a;
}
.navbar .navbar-toggle {
  border-color: #cda581;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #cda581;
}
.navbar .navbar-brand {
  color: #ffffff;
  font-weight: 900;
}
.navbar .navbar-brand:hover {
  color: #cda581;
}
.navbar .navActive {
  color: #ff59ff00;
}

.parallax, .parallaxSection, .parallaxTop {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.parallaxTop {
  background-image: url("IMG_5144.jpg");
  min-height: 100vh;
}

.parallaxSection {
  min-height: 250px;
}

.shadow, .shadowSection {
  background: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  width: 100%;
}

.shadowSection {
  min-height: 250px;
}

.jumboBanner {
  text-align: center;
}
.jumboBanner .banner {
  color: white;
  padding-top: 30vh;
  text-align: center;
  font-family: sans-serif;
  font-size: 112px;
  margin-top: 0;
}
.jumboBanner .motto {
  color: white;
  margin: 50px auto;
}

#aboutBlock {
  width: 10%;
}

.aboutLeft, .aboutRight, .aboutImg {
  min-height: 400px;
  margin: 20px auto;
}
.aboutLeft hr, .aboutRight hr, .aboutImg hr {
  margin-left: 0;
  text-align: left;
}
.aboutLeft .aboutImg, .aboutRight .aboutImg, .aboutImg .aboutImg {
  background-image: url("https://images.pexels.com/photos/59628/pexels-photo-59628.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-repeat: no-repeat;
  background-size: 90% 90%;
}

#servicesRow, #aboutRow, #phoneDay, #phonewrite, #phoneread, #phoneexpert, #phonebooks {
  background-image: url("1.webp");
  text-align: center;
  color: white;
}
#servicesRow h2 , #aboutRow h2, #phoneDay h2, #phonewrite h2, #phoneread h2, #phoneexpert h2, #phonebooks h2{
  padding-top: 100px;
}

#serviceBlocks .container {
  width: 94%;
}

.serviceBlock {
  text-align: center;
  margin: 20px auto 50px auto;
  padding: 25px;
}
.serviceBlock img {
  width: 100px;
  height: 100px;
  margin: 10px 0 20px 0;
}
.serviceBlock p {
  font-size: 18px;
}

.phoneContact {
  background: #ff0000;
  text-align: center;
  color: white;
  min-height: 200px;
}
.phoneContact h2 {
  margin: 100px 0;
}

#formMessage {
  margin-bottom: 2%;
  height: 100px;
  max-width: 100%;
}

.contactForm {
  margin: 50px auto;
  text-align: center;
}
.contactForm h2 {
  margin: 0 auto;
}
.contactForm form {
  width: 75%;
  margin: 50px auto 0 auto;
}
.contactForm form input {
  margin-bottom: 2%;
}
.contactForm form input[name=name] {
  margin-right: 2%;
}

#contactInfo {
  background: #131413;
  min-height: 200px;
}
#contactInfo .contactStack {
  margin: 50px 0;
  text-align: center;
  font-size: 16px;
}
#contactInfo h4 {
  color: #ff0000;
}
#contactInfo p {
  color: #9d9d9d;
}

#copyright {
  background: #876d5a;
  min-height: 125px;
  text-align: center;
  color: white;
}
#copyright #ig {
  background-image: url("https://play-lh.googleusercontent.com/LM9vBt64KdRxLFRPMpNM6OvnGTGoUFSXYV-w-cGVeUxhgFWkCsfsPSJ5GYh7x9qKqw");
  background-size: cover;
  background-repeat: no-repeat;
}
#copyright #twitter {
  background-image: url("http://www.freeiconspng.com/uploads/twitter-icon-twitter-icon-7.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#copyright #linkedin {
  background-image: url("https://pbs.twimg.com/profile_images/614583061448036352/CBpFkPaz.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#copyright .social, #copyright img {
  height: 50px;
  width: 50px;
  border: none;
  margin: 30px 50px 0px 50px;
}
#copyright p {
  margin: 30px 0;
}

@media screen and (max-width: 766px) {
  .jumboBanner .banner {
    font-size: 72px;
  }

  .cloak {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .inputInline {
    width: 100%;
    float: none;
  }

  form input {
    margin-bottom: 5%;
  }

  input[name=submit] {
    width: 100%;
  }

  input[name=name] {
    margin-right: 0%;
  }
}
@keyframes fade-in
{
	0%{ opacity: 0;}
  100%{opacity:1;}
}


.fade-in-words{
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
/*自定义一个透明度从0到1的动画，它的名称是fade-in*/
@keyframes fade-in{  
  0%{ opacity: 0;}
  100%{opacity:1;}
}
@-webkit-keyframes fade-in{
  0%{ opacity: 0;}
  100%{opacity:1;}
}
@-ms-keyframes fade-in{
  0%{ opacity: 0;}
  100%{opacity:1;}
}
@-o-keyframes fade-in{
  0%{ opacity: 0;}
  100%{opacity:1;}
}
@-moz-keyframes fade-in{
  0%{ opacity: 0;}
  100%{opacity:1;}
}
.first-words{ 
  opacity: 0;      /*实先规定文字的状态是不显示的*/
  animation: fade-in 4s ease 0s 1;    /*调用名称为fade-in的动画，全程动画显示时间4S，进入方式为ease，延时0S进入，播放次数1次*/
  -webkit-animation: fade-in 4s ease 0s 1;
  -moz-animation: fade-in 4s ease 0s 1;
  -o-animation: fade-in 4s ease 0s 1;
  -ms-animation: fade-in 4s ease 0s 1;
  
  /*规定动画的最后状态为结束状态*/
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.second-words{ 
  opacity: 0;    
  animation: fade-in 4s ease 2s 1;
  -webkit-animation: fade-in 4s ease 2s 1;
  -moz-animation: fade-in 4s ease 2s 1;
  -o-animation: fade-in 4s ease 2s 1;
  -ms-animation: fade-in 4s ease 2s 1;
  
  /*规定动画的最后状态为结束状态*/
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.third-words{ 
  opacity: 0;    
  animation: fade-in 4s ease 4s 1;
  -webkit-animation: fade-in 4s ease 4s 1;
  -moz-animation: fade-in 4s ease 4s 1;
  -o-animation: fade-in 4s ease 4s 1;
  -ms-animation: fade-in 4s ease 4s 1;
  
  /*规定动画的最后状态为结束状态*/
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.four-words{ 
  opacity: 0;    
  animation: fade-in 4s ease 6s 1;
  -webkit-animation: fade-in 4s ease 6s 1;
  -moz-animation: fade-in 4s ease 6s 1;
  -o-animation: fade-in 4s ease 6s 1;
  -ms-animation: fade-in 4s ease 6s 1;
  
  /*规定动画的最后状态为结束状态*/
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.five-words{ 
  opacity: 0;    
  animation: fade-in 4s ease 8s 1;
  -webkit-animation: fade-in 4s ease 8s 1;
  -moz-animation: fade-in 4s ease 8s 1;
  -o-animation: fade-in 4s ease 8s 1;
  -ms-animation: fade-in 4s ease 8s 1;
  
  /*规定动画的最后状态为结束状态*/
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}
.six-words{ 
  opacity: 0;    
  animation: fade-in 4s ease 10s 1;
  -webkit-animation: fade-in 4s ease 10s 1;
  -moz-animation: fade-in 4s ease 10s 1;
  -o-animation: fade-in 4s ease 10s 1;
  -ms-animation: fade-in 4s ease 10s 1;
  
  /*规定动画的最后状态为结束状态*/
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;  
    -o-animation-fill-mode: forwards; 
    -ms-animation-fill-mode: forwards;   
    -moz-animation-fill-mode: forwards; 
}